.imagem-card {
    height: 250px;
    object-fit: cover;
    border-radius: 16px;
}

.card {
    padding: 4px;
    border-radius: 16px;
    cursor: pointer;
    transition:
        transform 0.4s ease,
        box-shadow 0.4s ease,
        border 0.4s ease;
}

.card:hover {
    transform: scale(1.03) translateY(-4px);
}