.card {
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 4px;
    border-radius: 16px;
    cursor: pointer;
    transition: transform 0.4s ease, box-shadow 0.4s ease;
}

.card:hover {
    transform: scale(1.03) translateY(-4px);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
}


.imagem-card {
    height: 250px;
    width: 100%;
    object-fit: cover;
    border-radius: 16px;
}


.card-body {
    flex: 1; 
    padding: var(--bs-card-spacer-y) var(--bs-card-spacer-x);
    display: flex;
    flex-direction: column;
}

.card-title {
    font-weight: 600;
    margin-bottom: 0.5rem;
}


.card-text {
    flex-grow: 1;
    margin-bottom: 1rem;

   
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.card-body .d-flex {
    margin-top: auto;
}

.card-footer {
    margin-top: auto;
    background-color: #f8f9fa;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.botao_curtir {
    border-radius: 50%;
}

.col-12.d-flex,
.col-sm-12.d-flex,
.col-md-6.d-flex,
.col-lg-4.d-flex {
    align-items: stretch;
}

.map-container {
    width: 100%;
    height: 250px;
    overflow: hidden;
    border-top: 1px solid #ddd;
    border-radius: 8px;
}

.map-container iframe {
    width: 100%;
    height: 100%;
    border: 0;
}

